{% extends "mainapp/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Deactivate Employee
{% endblock %}

{% block content %}
<script src="{% static 'mainapp/js/deactivate.js' %}"></script>

<div class="main">
    {{ msg }}
    <div class="form1">
        <form method="GET" action="" id="deactivate-form">
            <div class="form-row">
                <div class="form-group col-3">
    
                </div>
                <div class="form-group col-md-3 col-sm-12 px-3">
                <div class="form-row text-center text-primary py-1">
                    <div class="form-group col-12">
                        <h2>Deactivate Employee</h2>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label for="select-dept">Department</label>
                        <select class="form-control" id="select-dept" name="select-dept" onchange=deptFilled(this.options[this.selectedIndex].value)>
                            <option value="selected" selected disabled>Choose Department</option>
                            {% for data in departments %}
                                <option value="{{ data.id }}">{{ data.name }}</option>
                            {% endfor %} 
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-12 text-center">
                            <button class="btn btn-outline-info" id="dept_button" type="submit" value="filter" >Filter By Department</button>
                        </div>
                    </div>
                </div>
                
            </div>
            </form>
        <form method="POST" action="" id="deactivate-form">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-4">

            </div>
            <div class="form-group col-md-10 col-sm-12 x-3">
            
            <div class="form-row">
                <div class="form-group col">
                    <label for="select-username">Username</label>
                    <select class="form-control" id="select-username" name="select-username" onchange=userFilled(this.options[this.selectedIndex].value)>
                        <option value="selected" selected disabled>Choose Username</option>
                        {% for data in user_data %}
                            <option value="{{ data }}">{{ data.first_name }} {{data.last_name}}</option>
                        {% endfor %} 
                    </select>
                    <input type="hidden" name="username" id="id_username" value="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-6">
                    {{ form.intranet|as_crispy_field  }}
                </div>
                <div class="form-group col-6">
                    {{ form.mantis|as_crispy_field  }}
                </div>
                <div class="form-group col-6">
                    {{ form.github|as_crispy_field  }}
                </div>
                <div class="form-group col-6">
                    {{ form.slack|as_crispy_field  }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 text-center">
                    <button class="btn btn-outline-info" id="user_button" type="submit" value="deactivate" >Deactivate</button>
                </div>
            </div>
        </div>
        </form>
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



{% endblock %}
