
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>title</title>

</head>
<body>
	<pre>
    	<div>Hi There!!</div>
    	<div>Welcome onboard!</div>
    	<div>Your Intranet Credentials!!</div>
    	<div>Username : {{Username}}</div>
		  <div>Password  : {{Password}}</div>
		{% if whatsapp_group %}
		<div>Whatsapp Group link:  <a href="{{whatsapp_group}}"> {{whatsapp_group}}</a></div>
		{% endif %}
    <br>
    <div>Your Mantis Credentials is same as your Intranet Crdentials</div>


    </pre>

</body>
</html>
