<!-- {% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>NDA</title>
	<script>
 function disableSubmit() {
  document.getElementById("submit").disabled = true;
 }

  function activateButton(element) {

      if(element.checked) {
        document.getElementById("submit").disabled = false;
       }
       else  {
        document.getElementById("submit").disabled = true;
      }

  }

</script>
<style>
	.body{
		font-family:cursive;
	}
	.verify{
		width:100%;
		margin-top: 450px;
		margin-left: 500px;

	}
	.verify #sub{
		background:none;
		border:1px solid blue;
		font-size: 30px;
		font-weight: 600;

	}

	</style>
</head>
<body onload="disableSubmit()">

	<div class="verify">
 <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)">  I {{user}}, will abide by the NDA.
<br><br>
	<form action="/nda" method="POST">
		{% csrf_token %}
  	<button type="submit" name="submit" id="submit" value="I Agree NDA" >I Agree</button>
  	<button onclick="window.open('/greeting')" target="_self"> I Disagree </button></br>
	</form>

  <a href="{% static 'mainapp/offer.pdf' %}" download="offer letter"><button>Download</button></a>
</div>
</body>
</html> -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

	<title>NDA</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script>
 function disableSubmit() {
  document.getElementById("submit").disabled = true;
 }

  function activateButton(element) {

      if(element.checked) {
        document.getElementById("submit").disabled = false;
       }
       else  {
        document.getElementById("submit").disabled = true;
      }

  }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous">

    </script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>

    <script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
  <script>
        $(document).ready(function(){
            $('#create_pdf').click(function(){
                var elementHandler = {
                                      '#ignorePDF': function (element, renderer) {
                                        return true;
                                      }
                                    };
                var x = $('#heading').text();
                var doc = new jsPDF();
                doc.setFont("times");
                doc.setFontSize(16);
                doc.setFontStyle("normal");
                doc.text(x,60,20);
                doc.setFontSize(12);
                doc.text($('#name').text(),10,30);
                var splitTitle = doc.splitTextToSize($('#content1').text(), 190)
                doc.text(10,40,splitTitle);
                doc.setFontSize(16);
                doc.text($('#content4').text(),70,60);
                doc.setFontSize(12);
                var splitTitle = doc.splitTextToSize($('#content5').text(), 190)
                 var y = 70;
    for (var i = 0; i < splitTitle.length; i++) {
        if (y > 280) {
            y = 20;
            doc.addPage();
        }
        doc.text(10, y, splitTitle[i]);
        y = y + 7;
    }

                doc.save('Offer_Letter.pdf');


            });
        });
    </script>

</head>
<body onload="disableSubmit()">
	<div class="container text-justify p-sm-2 p-xs-2">
		<center><img src="https://i.postimg.cc/N0JT86NC/poppins-logo-full.png" alt="" style="margin:10px"></center>
	<div id="content">

	<strong id="name">Hi {{user}} ,</strong><br><br>
<span id="content1">
Please read this agreement properly and REPLY (not reply all) to this email with your consent in the following format : " I {Your name}, accept the agreement and will abide by it."</span><br>
<br>

<center><h3 id ="content4">Confidentiality Agreement</h3></center>
<span id ="content5">
It is understood and agreed to that the Discloser and the Recipient would like to exchange certain information that may be considered confidential. To ensure the protection of such information and in consideration of the agreement to exchange said information, the parties agree as follows:<br><br>
1. The confidential information to be disclosed by Discloser under this Agreement (“Confidential Information”) can be described as and includes:<br>
Technical and business information relating to Discloser’s proprietary ideas, patentable ideas copyrights and/or trade secrets, existing and/or contemplated products and services, software, schematics, research and development, production, costs, profit and margin information, finances and financial projections, customers, clients, marketing, and current or future business plans and models, regardless of whether such information is designated as “Confidential Information” at the time of its disclosure.<br>
In addition to the above, Confidential Information shall also include, and the Recipient shall have a duty to protect, other confidential and/or sensitive information which is <br>(a) disclosed by Discloser in writing and marked as confidential (or with other similar designation) at the time of disclosure; and/or <br>(b) disclosed by Discloser in any other manner and identified as confidential at the time of disclosure and is also summarized and designated as confidential in a written memorandum delivered to Recipient within thirty (30) days of the disclosure.<br><br>
2. Recipient shall use the Confidential Information only for the purpose of evaluating potential business and investment relationships with Discloser.<br><br>
3. Recipient shall limit disclosure of Confidential Information within its own organization to its directors, officers, partners, members and/or employees having a need to know and shall not disclose Confidential Information to any third party (whether an individual, corporation, or other entity) without the prior written consent of Discloser. Recipient shall have satisfied its obligations under this paragraph if it takes affirmative measures to ensure compliance with these confidentiality obligations by its employees, agents, consultants and others who are permitted access to or use of the Confidential Information.<br><br>
4. This Agreement imposes no obligation upon Recipient with respect to any Confidential Information<br>(a) that was in Recipient’s possession before receipt from Discloser; <br>(b) is or becomes a matter of public knowledge through no fault of Recipient; <br>(c) is rightfully received by Recipient from a third party not owing a duty of confidentiality to the Discloser; <br>(d) is disclosed without a duty of confidentiality to a third party by, or with the authorization of, Discloser;<br>(e) is independently developed by Recipient.<br><br>
5. Discloser warrants that he/she has the right to make the disclosures under this Agreement.<br><br>
6. This Agreement shall not be construed as creating, conveying, transferring, granting or conferring upon the Recipient any rights, license or authority in or to the information exchanged, except the limited right to use Confidential Information specified in paragraph 2. Furthermore and specifically, no license or conveyance of any intellectual property rights is granted or implied by this Agreement.<br><br>
7. Neither party has an obligation under this Agreement to purchase any service, goods, or intangibles from the other party. Discloser may, at its sole discretion, using its own information, offer such products and/or services for sale and modify them or discontinue sale at any time. Furthermore, both parties acknowledge and agree that the exchange of information under this Agreement shall not commit or bind either party to any present or future contractual relationship (except as specifically stated herein), nor shall the exchange of information be construed as an inducement to act or not to act in any given manner.<br><br>
8. Neither party shall be liable to the other in any manner whatsoever for any decisions, obligations, costs or expenses incurred, changes in business practices, plans, organization, products, services, or otherwise, based on either party’s decision to use or rely on any information exchanged under this Agreement.<br><br>
9. If there is a breach or threatened breach of any provision of this Agreement, it is agreed and understood that Discloser shall have no adequate remedy in money or other damages and accordingly shall be entitled to injunctive relief; provided however, no specification in this Agreement of any particular remedy shall be construed as a waiver or prohibition of any other remedies in the event of a breach or threatened breach of this Agreement.<br><br>
10. During the period of my employment, I will promptly disclose all Inventions to the Company fully and in writing and will hold such Inventions in trust for the sole right and benefit of the Company. In addition, after termination of my employment, I will promptly disclose all patent applications filed by me within a year after termination of my employment with the Company.<br>
This agreement is the final, complete and exclusive agreement of the parties with respect to the subject matter hereof and supersedes and merges all prior discussions between us. No modification or amendment of this Agreement, nor any waiver of any rights under this Agreement, will be effective unless in writing signed by the party to be charged. Any subsequent change or changes in my duties, salary or compensation will not affect the validity or scope of this Agreement. As used in this Agreement, the period of my employment includes any time during which I may be retained by the Company as a consultant.<br><br>
I agree that the Company may, provide a copy of this Agreement to any business or enterprise <br>(i) which I may directly or indirectly own, manage, operate, finance, join, control or participate in the ownership, management, operation, financing, or control of <br>(ii) with which I may be connected with as an officer, director, employee, partner, principal, agent, representative, consultant or otherwise, or in connection with which I may use or permit my name to be used. I agree that I will provide the names and addresses of any such persons or entities as the Company may from time to time reasonably request.<br>
Congratulations!<br>
<strong>Team ATG
</strong>
</span>




</div>

	<div id="editor"></div>
	<div class="verify text-center text-lg-right text-xl-right">
 <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)">  I {{user}}, will abide by the NDA.
<br><br>
	<form action="/nda" method="POST">
		{% csrf_token %}
  	<button type="submit" name="submit" id="submit"  class="btn border border-dark" value="I Agree NDA" >I Agree</button>
  	<!--<button onclick="window.open('/greeting')" target="_self"> I Disagree </button></br>
		 -->
	</form>

</div>
<script>
    function generate(){
    	var doc = new jsPDF();

    	 var elementHandler = {
    '#ignorePDF': function (element, renderer) {
    return true;
    }
    };
 var x=document.getElementById("content").innerHTML;
doc.fromHTML(
        x,
        10,
        10,
        {
        'width': 170,'elementHandlers': elementHandler
        });

doc.setFont("times")
doc.setFontSize(30);
doc.save('Offer_Letter.pdf');
    }
</script>
</div>
</body>
</html>
