{% extends "mainapp/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Payroll
{% endblock %}
{% block jscss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.uikit.min.css">
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />

{% endblock jscss %}

{% block content %}
  {% if err %}
    <h2>{{ err }}</h2>
  {% else %}
  <h2>Payments Data & Payslip Generation</h2>
    <div class="row">
      <div class="col-md-12">
        <div class="col pl-0 pr-0 table-responsive">
          <table class="table table-striped " style="width: 100%;">
            <thead id="head">
              <tr>
                <th>S.No.</th>
                <th>Month</th>
                {% if fixed_pay_bool %}
                  
                {% else %}
                  <th>Total Bugs</th>
                  <th>Bounty</th>
                {% endif %}
                <th>Total Pay</th>
                <th>UTR No.</th>
                <th>Download</th>
              </tr>
            </thead>
            <tbody>
              {% for data in paymentdata %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{  data.payslip_month  }}</td>
                {% if fixed_pay_bool %}
                  
                {% else %}
                  <td>{{ data.task_count }}</td>
                  <td>{{ data.bounty }}</td>
                {% endif %}
                <td>{{  data.pay_after_deductions  }}</td>
                <td>{{ data.utr_no }}</td>
                <td><a href="javascript:{PayslipGen('{{  data.id  }}')}">Download</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <p class="text-muted">*Note: If the UTR No. is None, then the payment is not dispersed or is under processing.</p>
  {% endif %}
  <script>
    function PayslipGen(payment_id){
      payment_id = parseInt(payment_id);
      $.post({
        url: '/Payroll/',
        dataType: 'json',
        data: {
          'payment_id': payment_id,
          csrfmiddlewaretoken : '{{ csrf_token }}'
        },
        success: res => {
          if(res['html_res'] != ''){
            var printWindow = window.open('', '_blank');
            printWindow.document.write(res['html_res']);
            printWindow.document.close();
            setTimeout(function(){ printWindow.print(); },3*1000);  //To let the dynamic content to load
          }else{
            alert("There was an error in generating your Payslip");
          }
        },
        error: err => {
          console.log(err);
        }
      });
    }
  </script>

{% endblock content %}
