<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    
    <style type="text/css">
        body{
            font-size:18px;
            font-family: sans-serif;
            line-height: 25px;
            text-align: justify;
        }
        .container{
            margin: 80px auto;
            max-width: 700px;
        }
        .highlight{
            color: #3c78d8
        }
        .underline{
         text-decoration: underline;
        }
        table{
            margin: 0 auto;
        }
        td{
            width:50%;
            padding:10px;
        }
        .highlight-table{
            border: 1px solid black;
            border-collapse: collapse;
            background-color: rgb(240 236 236);
            width: 100%;
            margin: 50px 0;
        }
        .highlight-table td{
            border: 1px solid black;
        }
        .center{
            text-align: center;
        }
        ul{
            list-style: none;
        }
        li{
            display: flex;
            gap: 15px;
        }
        
        @media (max-width: 1400px) {
            .container{
                max-width: 700px;
            }
        }
        @media (max-width: 1140px) {
            .container{
                max-width: 900px;
            }
        }
        @media (max-width: 960px) {
            .container{
                max-width: 80vw;
            }
        }
        @media (max-width: 720px) {
            .container{
                max-width: 85vw;
            }
        }
    </style>
</head>
​
<body class="container">
    <p>
        {% load static %}
        <img
        alt="" src="https://i.postimg.cc/R0ftKq24/logo.png"
        style="width: 280px; height: 62.09px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
        title=""></span></p>
    </p>
<p><strong>Dear {{ username }},</strong></p>
<p>We are pleased to offer you a position of <strong class="underline">{{ title }}</strong> with Across The Globe, Banao and Employed India (EI) suite of companies, registered as ATGWorld Networks Pvt. Ltd. (hereafter referred to as ATG). This offer of employment is for<span class="highlight"> an internship position of {{intern_duration}} months from the date of joining. </span><strong>This offer letter can not be used as a proof of internship completion.</strong></p>
<table>
    <tbody>
        <tr>
            <td><strong>1. Designation:</strong></td>
            <td><strong>{{ title }}</strong></td>
        </tr>
        <tr>
            <td><strong>2. Date of Joining:</strong></td>
            <td>{{ present_date }}</td>
        </tr>
        <tr>
            <td><strong>3. Location of Work:</strong></td>
            <td>Work From Home </td>
        </tr>
        <tr>
            <td><strong>4. Compensation:</strong></td>
            <td><span class="highlight">{{ pay_type }}</span> See table below</td>
        </tr>
    </tbody>
</table>
<table class="highlight-table">
    <tbody>
        <tr>
            <td><strong>Salary Components</strong></td>
            <td><strong>INR</strong></td>
        </tr>
        <tr>
            <td>{{ payment_data_1.0 }}</td>
            <td class="highlight">{{ payment_data_1.1 }}</td>
        </tr>
        {% if pay_type == "Performance Based" %}
        <tr>
            <td>Minimum tasks / month</td>
            <td class="highlight">{{ task }}</td>
        </tr>
        {% endif %}
        <tr>
            <td>{{ payment_data_2.0 }}<br/>
                (Check Annexure 1C)
                </td>
            <td class="highlight">{{ payment_data_2.1 }}</td>
        </tr>
        <tr>
            <td>Duration</td>
            <td><span class="highlight">{{intern_duration}} months (Estimated)</span><br/>
               (Check Annexure 1A, Pt.9)
           </td>
        </tr>
    </tbody>
</table>
<p>All entitlements given above are applicable after you have joined ATG. The entitlements are subject to company policies / procedures / guidelines that may be issued / modified from time to time. </p>
<p>This Offer of Appointment is valid for 2 days from the date of this email. You are requested to confirm your acceptance by replying to our e-mail with an acknowledgem
￼ent (YES, I, (NAME) accept the offer). In case you fail to communicate your acceptance in writing within 2 days of the date of this email, the offer shall stand revoked. </p>
<p>By accepting this Offer of Appointment you are accepting all the Terms and Conditions set forth herein and as attached to this Offer of Appointment in various Annexures (please find below).</p>
<p>We are confident that you will be able to make a significant contribution to the success of our organization. We welcome you on-board and look forward to working with you.</p>
<p>
    {% load static %}
            <img
                alt="" src="{% static 'images/signature-1.jpg' %}"
                style="width: 95.77px; height: 99.00px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                title=""></span>
</p>
<p>Yours sincerely,</p>
<p>Saurabh Bassi </p>
<p>(Co-Founder / CEO, ATGWORLD Networks Pvt Ltd.)</p>
<br/>
<br/>
<h3 class="underline center">ANNEXURE – 1A</h3>
<h4 class="underline">TERMS AND CONDITIONS OF EMPLOYMENT </h4>
<h4>1. REPORTING / JOINING </h4>
<p>Your Appointment shall be effective from your Date of Joining.</p>
<h4>2. ON BENCH </h4>
<p>Interns may be subjected to being on training / on bench, if the company can’t find a suitable project for the intern to work upon. New interns may be put on bench as they join and are required to finish the necessary trainings. Existing interns may be put on bench / on training based upon poor performance. There will be no pay or benefits when an intern is on bench. On bench time frame will not be accounted towards internship time and will not be paid.</p>
<h4>3. TRAINING AND ASSESSMENTS</h4>
<p>Banao Technologies has partnered with leading education providers for providing interns with continuous learning and development opportunities. Interns will be provided with a mandatory training course and assessments. The continuous learning is part of the culture at Banao Technologies and will be given often in order for the employee to learn, improve and grow. Continuous skill growth will uncover multiple opportunities within the organisation and failures may lead to stalled growth.</p>
<h4>4. PROBATIONARY PERIOD</h4>
<p>Your appointment will be subject to a probationary period of 1 (One) month from the date of joining. However, the probationary period can be extended further at the sole discretion of the Company in case of unsatisfactory performance or conduct. An official confirmation of your appointment will be notified to you in writing.</p>
<h4>5. LOCATION OF WORK </h4>
<p>Your location of work will be as mentioned in the Offer of Appointment. However, your services are transferable to any place within the country or abroad or to any of the ATG’s associate/sister concern or its subsidiary, whether or as may be established or acquired later on, at the sole discretion of the company. In case you are transferred to any other location, you will be governed by the terms and conditions of service applicable to the new place of posting/assignment including compensation, leave and holidays, working hours and other related policies. However, if your Offer of Appointment is for internship and place of work is Work From Home, there shall be no change in location of work.</p>
<h4>6. DATA PRIVACY</h4>
<p>The Company requires that you shall observe Data Privacy as per Company's regulations/ policy, regarding the processing and protection of any personal information and/or data to which you may have access to in the course of your duties, and shall report any infringement relating to the manner in which personal information or other data is processed to the Company immediately. In the event of any breach of the said undertaking, the Company shall be entitled to take such action against you as per the Company Rules and/or applicable law. </p>
<h4>7. NON DISCLOSURE</h4>
<p>Unless authorized in writing by the Company, you shall not divulge, communicate or pass on any “confidential” information in any form, related to any aspect of the Company to anyone outside the Company.</p>
<p>You acknowledge that the Company owns trade secrets and confidential and proprietary information that are very important to the success of the Company’s business. In addition, the Company has confidential information and assets belonging to other persons (whether individuals, firms, corporations or other entities) that the Company is obligated to keep confidential. </p>
<p>The expression “Confidential Information” refers to all and / or any of the trade secrets and confidential and proprietary information owned by or is in the custody of the Company. </p>
<p>You agree that all Confidential Information is the exclusive property of the Company and you will be responsible and will take steps necessary to protect the Confidential Information. You agree that, during your employment and after your employment ends, whatever the reason of such termination, you will not use, reproduce, or disclose any of the confidential information, except in the normal course of your job for the Company, or unless an authorized officer or the Company gives you written permission in advance. You agree to return any Confidential Information (and all copies) in your possession on cessation of your employment with the Company. </p>
<h4>8. PROFESSIONAL ETHICS</h4>
<p>You shall not conduct yourself in any manner amounting to breach of confidence reposed in you or inconsistent with the position of responsibility occupied by you. Please deal with the Company’s money, material and documents with utmost honesty, moral and professional ethics. </p>
<h4>9. DURATION OF INTERNSHIP / RESIGNATION / TERMINATION</h4>
<p>The estimated duration of the internship is mentioned above. You will be relieved of the internship only if you do not have any open issues / bugs / projects that you are actively part of i.e. you will only be relieved after your projects and deliverables are over and confirmed by your manager. We recommend that you plan and discuss the internship duration extension / termination One month (30 days) before the actual end date.</p>
<p>You shall give a One Month (30 days) prior notice to the Company before you can be officially relieved from your work. Failure to provide the notice will result in extension of the internship. You will be subject to all the clauses mentioned in this offer during your notice period.</p>
<p>If, upon mutual consent, an intern leaves the internship in the middle with a notice period, the intern will be paid only 50% of the pay for 1 month notice period. Failure to serve the notice period will result in an escalation to both the hiring platform and the college. Along with this the candidate’s FnF will be put on Hold.</p>
<br/>
<br/>
<h3 class="underline center">ANNEXURE – 1B</h3>
<h4>1. WORK TIMINGS AND LEAVES</h4>
<p>This is a summary of working hours, leave and holidays including some of the benefits & entitlements. Depending upon your work requirements, you will be required to work 5-6 days a week.</p>
<p>For people in non leadership positions, you can work 5 days a week and people in leadership (management or technical) roles, the work responsibility is 6 days a week. You are required to be present during the working hours set by your manager. </p>
<p>The work timings depend upon your team and the nature of your work. Please discuss that with your manager before you join. Mostly, the timings are flexible and you will have to remain available during a pre-agreed upon time for update / standup meetings i.e. for any cross-team communication / meetings, they must happen at a pre-decided time, usually between 10am - 8pm, as decided by your manager and your technical leads.</p>
<h4>2. ATTENDANCE AND LEAVES</h4>
<div><b>Attendance : </b></div>
<ul>
    <li><div>-</div><div>Required to attend daily project meetings and report your work status.</div></li>
    <li><div>-</div><div>Required to attend any meetings that are in your calendar. </div>   </li>
    <li><div>-</div><div>Developers are required to push the code daily to the GitHub repository in your private branch.</div></li>
</ul>
<div>Failing to achieve any of the above criterias will result in you being marked absent / leave.</div>
<p><b>Leaves : </b></p>
<ul>
    <li><div>-</div><div>Required to inform the manager 7 days in advance for any exam or travel leave. </div> </li>
    <li><div>-</div><div>Leaves must be logged on intranet (internal leave management tool).</div></li>
    <li><div>-</div><div>Uninformed leave will result in loss of pay and may result in probation of 2 weeks. There is no pay during probation.</li>
    <li><div>-</div><div>In case of any uninformed leaves (not informed / approved with at least 7 days notice), management reserves the right to not only deduct the pay for your absence, but cumulative loss of productivity for your entire team. E.g. If you are a backend developer supposed to push an API, for which a frontend developer and a product manager is waiting and their entire day is non-productive due to your irresponsible leave, you may be marked leave for 3 days on intranet instead of 1.</div></li>
    <li><div>-</div><div>In case of an emergency leave, management will be considerate, however, you may be required to submit proofs, if asked for. </div>   </li>
</ul>
<h4>3. WORK ETHICS AND RESPONSIBILITIES</h4>
<p>It is required of you that you dedicate the hours required to finish the work within the given deadlines. Being a growing startup, your timely delivery helps us stay sharp with the competitors and the management doesn’t want to ask for updates every day or the other. You will be given the flexibility of finishing the work within the deadlines as per your convenience (as long as the deadlines are continuously met). The amount of work that can be finished can be discussed freely between you and your manager every sprint cycle.</p>
<h4>4. PAYMENT MODE</h4>
<p>The payment cycle will be  between 4th - 7th (next month).</p>

<p>Payment shall be made to your Bank Account through Online transfer. You are required to submit your complete bank details on the intranet at the time of joining, and keep it updated in case of any changes. Management will not be responsible in case of any delays that happen due to wrong bank account.</p>

<p>For International Candidates, the payment mode can be discussed with your manager internally.</p>
<br/>
<br/>
<h3 class="underline center">ANNEXURE – 1C</h3>
<h4>1. INTERNS - WORK TIMINGS, ETHICS AND RESPONSIBILITIES</h4>
<p>You will be required to adhere to the work timings, ethics and responsibilities as mentioned in Annexure - 1B. We understand that interns are not quite aware of the career options and are exploring, hence we keep it very flexible in terms of pay and work timings, however, we expect no less work responsibility from our interns for the tasks that you choose to accept and finish.</p>
<p>You are allowed to take leaves during your exams with a prior notice of at least 1 week. Any uninformed leave may result in loss of pay and you being put on probation (Annexure 1B - point 2). Interns are supposed to be present at work in the pre-decided timings, and finish the work within given timelines. Failure to consistently meet these criterias will be considered as a work ethics breach and may result in loss of pay and you being put on probation (Annexure 1B - point 2).</p>
<h4>2. INTERNS - PERFORMANCE OFFER PAY CRITERIA</h4>
<p>Interns are compensated with either performance based or fixed pay. Usually the interns join with a performance based offer and graduate to a part-time fixed pay offer towards the end of the internship. Please check your compensation table or ask the HR for clarity.</p>
<p>For a performance based offer, you have to achieve the minimum number of tasks. The minimum payout will be done once the minimum tasks are achieved. Any additional tasks finished beyond the minimum tasks/payout will also be compensated as per the performance component. E.g. an intern with performance offer of Rs. 5000 (500/task) who finishes 12 tasks in a month will be paid Rs. 6000 (500*12) at the end of the month.</p>
<p>In case the minimum tasks are not completed in a month, the management reserves the right to postpone the payment to the next month or disperse the partial/incomplete payment. Internship is considered finished only if the intern finishes the number of minimum tasks for their internship duration. E.g. For minimum tasks = 10 for internship duration = 6 months, you have to finish at least 60 tasks during your internship tenure.</p>
<p>The tasks are usually bugs, branches pushed, testing tasks, or content docs. Please get clarity from your manager at the time of your joining on the tasks. There may be additional bounty on a particular task, thereby multiplying the tasks by that bounty. E.g. a task with bounty 2 will be calculated as 2 tasks.</p>
<p><strong>NOTE</strong> : In the first month, the intern most likely works on minor issues, thus pay will be less during the initial 1-2 months. As the intern progresses and learns the skills, he/she will be able to resolve more bounty bugs which can result in a rise in pay. Hikes will be provided on the offer if the intern shows great commitment and zeal to learn and deliver.</p>
<p>Payroll will start only after you are onboarded on to a project. Candidates on bench will not paid</p>
<h4>3. INTERNS - FIXED OFFER PAY CRITERIA</h4>
<p>Interns on fixed pay will be paid on a pro-rata basis for the number of days they were present in the monthly calendar. E.g.  If your fixed pay / month is Rs. 8000 and you were on approved leaves for 10 days, you will be paid ⅔ of Rs. 8000 for the month.</p>
<p>Payroll will start only after you are onboarded on to a project. Candidates on bench will not paid.</p>
<h4>4.  INTERNS - CERTIFICATE AND LOR</h4>
<p>Certificates are only provided at the end of your internship cycle only after your manager’s approval.</p>
<p><strong>The offers cannot be used as a successful completion. For the outcome of the completion of this internship, please email at admin@banao.tech from your official email.</strong></p>
<p>Any leaves taken during the internship duration will extend the internship duration by those number of days.</p>
<p>LORs are rarely provided to exceptional candidates only and are not promised as part of the internship.</p>
<p>Should an intern want to continue the internship after the internship cycle, an internship completion certificate will NOT be provided. However, an ongoing internship certificate can be provided which will state that the intern is presently pursuing an internship with the company for last X months. The ongoing internship certificate will only be provided if you are on active payroll of the company, i.e. you are not on bench or probation.</p>
<p>Company is not liable and will not sign any certificate documents from college.
</p>
    <div>
        <br/>
        <br/>
        <p class="center">OFFER LETTER</p>
        <p class="center">ATG CONFIDENTIAL </p>
        <br/>
        <br/>
    </div>
    {% include 'mainapp/T_and_C_agree.html' %}
  </body>
</html>
