
{% extends "mainapp/base.html" %}
{% load static %}
<!-- {% load crispy_forms_tags %} -->
{% block title %}
Send Certicate
{% endblock %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
 <!--script src=
"https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
    </script-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<!--script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script-->



<div class="main">
    {{ msg }}
    <div class="form1">
        <form method="POST" action="{% url 'send_certificate' %}" id="certificate-form">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-3">

            </div>
            <div class="form-group col-md-5 col-sm-12 px-3">
            <div class="form-row text-center text-primary py-1">
                <div class="form-group col-12">
                    <h2>Send Certificate</h2>
                </div>
            </div>
            <!--div class="form-row">
                <div class="form-group col">
                    <label for="select-username">Username</label>
                    <select class="form-control" id="select-username" name="select-username" onchange="fillJoiningDate(this.options[this.selectedIndex].value, this.options[this.selectedIndex].text)">
                        <option value="selected" selected disabled>Choose Username</option>
                        {% for data in user_data %}
                            <option value="{{ data.profile.start_date }}">{{ data }}</option>
                        {% endfor %} 
                    </select>

                </div>
            </div-->
            <div class="form-row">
                Username:
                <input type="text" class="form-control" id="search-username" placeholder="Search Username" required>
                <input type="hidden" name="username" id="id_username" value="" required>
            </div>
            <br>
            <div class="form-row">
                Joining Date:
                
                <!-- <div class="form-group col"> -->
                    <input type="date" name="joining_date"class="form-control" id="id_joining_date" placeholder="dd-mm-yyyy" required>
                    
                <!-- </div> -->
            </div><br>
            <div class="form-row">
                Completion Date
                <input type="date" name="completion_date" class="form-control" id="id_completion_date" placeholder="dd-mm-yyyy" required>
                <!-- </div> -->
            </div><br>
            <div class="form-row">
                Position:
                <!-- <div class="form-group col"> -->
                <input type="text" name="position" class="form-control" id="position" required>
                <!-- </div> -->
            </div><br>
            <div class="form-row">
                Major Responsibilities (if any):
                <input type="text" name="responsibility" class="form-control" id="id_responsibility">
                
            </div><br>
            <div class="form-row">
                <!-- <div class="form-group col-12"> -->
                <input type="checkbox" id="send_certificate" name="send_certificate">
                <label class="form-check-label" for="send_certificate"> Send Certificate</label>
                <!-- </div> -->
            </div>
            <div class="form-row pt-2">
                <div class="form-group col-6 text-center">
                    <button class="btn btn-outline-info" name="preview" id="preview-button" type="submit" value="Preview">Preview Certicate</button>
                </div>
                <div class="form-group col-6 text-center">
                    <button class="btn btn-outline-info" id="button" type="submit" value="Send">Send Certicate</button>
                </div>
            </div>
        </div>
        </form>
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
        <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="{% static 'mainapp/js/sendcertificate.js' %}"></script>

{% endblock %}
