{% extends "mainapp/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Track
{% endblock %}
{% block jscss %}
<link href="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.15.5/dist/bootstrap-table.min.js"></script>
{% endblock jscss %}

{% block content %}

<div class="main">

<div class="main">

<div class="form1">

  <form method="POST" action="#">
    {% csrf_token %}

      <fieldset class="form-group">
        <legend class="border-bottom mb-4">
          Track My Reportee
        </legend>
        
       </form>

    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}
  </div>
  <h3> {{username}}</h3>
</div>
{% if messages %}
<ul class="messages">
   {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>

{% endif %}
{% for html in data_list %} 
  <center><h3>{{html.dept_name}}</h3></center>
  {% if html.is_manager %}
 <a href="/Onboard/Track_my_reportee/Sub_track?username={{html.usern_name}}" ><center><h5>{{html.usern_name|safe}}</h5></center></a><br>
 {%else%}
 <center><h5>{{html.usern_name|safe}}</h5></center><br>
 {%endif%}

      {{html.html|safe}}<br>
{% endfor %}

{% endblock %}