{% extends "mainapp/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load sortable_column %}
{% block title %}
Track
{% endblock %}
{% block jscss %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.uikit.min.css">

<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.6/js/dataTables.fixedHeader.min.js"></script>


{% endblock jscss %}
{% block styling%}
.paginate_button{
padding:3px;
width:4px;
border-radius:2px;
margin-bottom:4px;


}
.paginate_button:hover{
background-color:#DCDCDC;
}
.dataTables_filter input{
border-radius: 5px;
padding: 5px;
}

table#selected th {
border-bottom: 1px solid #dddddd;
text-align: left;
padding: 8px;
width: 10%;

}

#button_table {
background: None;
width: 100%;
border: none;
}

button {
float: right;
}

tbody tr:hover {
background-color: #dddddd;
}

th{
border-bottom: 1px solid #ddd;
padding-top: 6px;
padding-bottom: 6px;
}

table tr:nth-child(even){
background-color: rgb(241, 241, 241);
}

table tr:nth-child(even):hover{
background-color: #ddd;
}


.dataTables_length select{
border-radius: 5px;
padding: 5px;

}
{%endblock%}
{% block content %}

<div class="main">
  <div class="form1">


    <fieldset class="form-group">
      <legend class="border-bottom mb-4">
        Track My Reportee
      </legend>



  </div>

</div>
{% for data in data_list_3 %}
<form action="{% url 'manager_track' %}" method="POST">{% csrf_token %}
  <div class="row">
    <div class="col-md-6 text-left">
      <p><strong>{{data}}</strong></p>
      <input type="hidden" name="name" value="{{data}}">
    </div>
    <div class="col-md-6 text-right">
      <input type="submit" id=clearbutton value="Track Reportees" class="btn btn-primary">
    </div>
  </div><br>
</form>

{% endfor %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li>{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

{% endif %}
{% for html in data_list %}
<form class="form d-none">
  {% csrf_token %}
  <input type="radio" id="name{{forloop.counter}}" name="selected" value="{{html|safe}}">
  <button style="margin-top: 15px;" class="btn btn-outline-info" type="submit"></button>
</form>
{% endfor %}
<br>
<br>
<br>
<div class="container">
  {% for i in data_list %}
  <div class="card mb-5">
    <div class="card-body">
      <div class="maintable mt-0">
        <div class="row">
          <div class="col">
            <h5 id="department{{forloop.counter}}" class="card-title">{{i}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col">
            Lead By
            {% if lead_by_name %}
              {{ lead_by_name }}
            {% elif request.user %}
              {{ request.user.username }}
            {% endif %}
          </div>
        </div>
        <div id="tablediv{{forloop.counter}}" class="row justify-content-between my-3 py-2 px-4"
          style="background-color: #ddd;border-radius: 5px;">
          <div class="col-md-2 col-lg-2 my-lg-2 mx-lg-2 py-lg-2 px-lg-2 col-sm-12 col-xs-12" style="background-color: white;border-radius: 5px;">
            Total Bugs <span id="tbugs{{forloop.counter}}" style="padding-left: 55px;"></span>
          </div>
          <div class="col-md-2 col-lg-2 my-lg-2 mx-lg-2 py-lg-2 px-lg-2 col-sm-12 col-xs-12"
            style="background-color: white;border-left:4px solid rgb(250, 71, 107);border-radius: 5px;">
            Assigned Bugs <span id="assigned{{forloop.counter}}" style="padding-left: 20px;"></span>
          </div>
          <div class="col-md-2 col-lg-2 my-lg-2 mx-lg-2 py-lg-2 px-lg-2 col-sm-12 col-xs-12"
            style="background-color: white;border-left:4px solid rgb(74, 133, 211);border-radius: 5px;">
            Resolved Bugs <span id="resolved{{forloop.counter}}" style="padding-left: 20px;"></span>
          </div>
          <div class="col-md-2 col-lg-2 my-lg-2 mx-lg-2 py-lg-2 px-lg-2 col-sm-12 col-xs-12"
            style="background-color: white;border-left:4px solid rgb(65, 216, 65);border-radius: 5px;">
            Closed Bugs <span id="closed{{forloop.counter}}" style="padding-left: 40px;"></span>
          </div>
        </div>
        <div class="row" style="overflow-x: visible;padding:10px;">
          <div class="col pl-0 pr-0 table-responsive" id="tablecolumn">
            <table class="example table" id="myTable{{forloop.counter}}" style="width: 100%;">
              <thead id="head">
                <tr>
                  <th class="class_bug_id">Bug ID</th>
                  <th>Assignee</th>

                  <th>Summary</th>
                  <th>Bounty</th>
                  <th>Status</th>
                  <th>Updated At</th>
                  <!-- <th>Remind</th> -->
                  <th>Notify</th>


                </tr>
              </thead>
              <tbody id="body{{forloop.counter}}">
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  window.onload = function () {
    var url = '/execute';
    var req = new XMLHttpRequest();
    req.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        var details = JSON.parse(req.responseText);
      }
    };
    req.open("GET", url, true);
    req.send();

    var contextLength = {{ data_list| length}};
  for (var i = 1; i <= contextLength; i++) {
    $('#body' + i).append('<tr><td class="text-center pt-3" colspan="7"><p>Loading...</p></td></tr>')
    var request = $.ajax({
      type: 'POST',
      url: 'Track_my_reportee',
      ajaxI: i,
      data: {
        selected: $('#name' + i).val(),
        csrfmiddlewaretoken: $('input[name = csrfmiddlewaretoken]').val()
      },
      success: function (context) {
        i = this.ajaxI;




        var in_table;
        $('#body' + i).html('');
        $('#tbugs' + i).append(context.tbugs);
        $('#assigned' + i).append(context.assigned);
        $('#resolved' + i).append(context.resolved);
        $('#closed' + i).append(context.closed);
        $('#department' + i).append(context.department);
        if (context.html) {
          if (context.html.length) {




            var t = $('#myTable' + i).DataTable({
              orderCellsTop: true,


              "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<button class='btn btn-outline-info text-left'>Send Slack</button>"
              }]
            });
            $('#body' + i).on('click', 'button', function () {
              var data = t.row($(this).parents('tr')).data();
              var url = '/remind_work?name=' + data[0] + '&summary=' + data[2];
              var req = new XMLHttpRequest();
              req.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                  var username = req.responseText;
                  var obj = JSON.parse(username)

                }
              };
              req.open("GET", url, true);
              req.send();

            });
            for (j = 0; j < (context.html).length; j++) {

              t.row.add([
                (context.html)[j].Bug_ID,
                (context.html)[j].Reporter,

                (context.html)[j].Summary,
                (context.html)[j].Bounty,
                (context.html)[j].Status,
                (context.html)[j].Assigned_On,
                // (context.html)[j].Remind
              ]).draw(false);
            }


          }
          else {
            $('#body' + i).html('');
            $('#body' + i).append('<tr><td class="text-center pt-3" colspan="7"><p>No data is found</p></td></tr>')
          }
        }
        else if (context.html1) {
          if (context.html1.length) {
            var in_table_1;
            $('#tablediv' + i).remove()
            $("#myTable" + i).html('')
            $("#myTable" + i).append(`<thead id="head${i}" />`)
            $('#head' + i).append(`<tr id="head_row${i}" />`)
            $('#head_row' + i).append(`<th style="border-right: 1px solid #ddd;">ID</th>`)
            $('#head_row' + i).append(`<th style="border-right: 1px solid #ddd;">Assigned To</th>`)
            $('#head_row' + i).append(`<th style="border-right: 1px solid #ddd;">Summary</th>`)

            $('#head_row' + i).append(`<th style="border-right: 1px solid #ddd;">Updated On</th>`)
            $('#head_row' + i).append(`<th style="border-right: 1px solid #ddd;">Remind</th>`)
            $('#myTable' + i).append(`<tbody id="body${i}">`)
            var t = $('#myTable' + i).DataTable({
              orderCellsTop: true,


              "columnDefs": [{
                "targets": -1,
                "data": null,
                "defaultContent": "<button class='btn btn-outline-info text-left'>Send Slack</button>"
              }]
            });
            $('#body' + i).on('click', 'button', function () {
              var data = t.row($(this).parents('tr')).data();
              var url = '/remind_work?name=' + data[0] + '&summary=' + data[2];
              var req = new XMLHttpRequest();
              req.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                  var username = req.responseText;
                  var obj = JSON.parse(username)

                }
              };
              req.open("GET", url, true);
              req.send();

            });
            for (j = 0; j < (context.html1).length; j++) {
              let updatedAt = new Date((context.html1)[j]["last updated"]);
              t.row.add([
                (context.html1)[j].shortId,
                (context.html1)[j].assignedTo,

                (context.html1)[j].text,
                (context.html1)[j]["last updated"]
                // `${updatedAt.getYear()}-${updatedAt.getMonth() + 1}-${updatedAt.getDate()}`,

              ]).draw(false);


            }


          }
          else {
            $('#body' + i).html('');
            $('#body' + i).append('<tr><td class="text-center pt-3" colspan="7"><p>No data is found</p></td></tr>')
          }
        }
        else {
            $('#body' + i).html('');
            $('#body' + i).append('<tr><td class="text-center pt-3" colspan="7"><p>No data is found</p></td></tr>')
          }

      }

    });
  }
    }

</script>

{% endblock %}
