{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<title>Offer</title>
	<script>
 function disableSubmit() {
  document.getElementById("submit").disabled = true;
 }

  function activateButton(element) {

      if(element.checked) {
        document.getElementById("submit").disabled = false;
       }
       else  {
        document.getElementById("submit").disabled = true;
      }

  }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous">

    </script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>

    <script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  </script>
  <script>
        $(document).ready(function(){
            $('#create_pdf').click(function(){
                var elementHandler = {
                                      '#ignorePDF': function (element, renderer) {
                                        return true;
                                      }
                                    };
                var x = $('#content').text();
                var doc = new jsPDF();

                doc.fromHTML(
                            x,
                            15,
                            15,
                            {
                              'width': 180,'elementHandlers': elementHandler
                            });
                doc.save('Offer_Letter.pdf');


            });
        });
    </script>

</head>
<body onload="disableSubmit()">
	<div class="container text-justify p-sm-2 p-xs-2">
	<div class="content">
	<center><img src="https://i.postimg.cc/N0JT86NC/poppins-logo-full.png" alt="" style="margin:10px"></center>
<center><h1>ATG CONFIDENTIAL
  OFFER LETTER</h1></center>
<center>
<h3>OFFER OF APPOINTMENT AS AN INTERN</h3>
</center>

<strong style="font-size: 16px;">Dear {{user}},</strong><br>

It is our pleasure to note your interest and having opportunity to professionally interact with you. Congratulations! Based on our discussions, we are pleased to inform you of your appointment for Product Management in our organization based on the following terms and conditions:


<pre id="pre" style="font-weight: bold;font-size: medium;" class="p-lg-4 p-md-4">
1. Designation             {{title}}({{position_name}})
2. Date of Joining         {{present_date}}
3. Location of Work        Work From Home / Online
4. compensation            See Table Below
</pre>
<br>

<table class="table col-lg-5 mx-lg-auto mx-md-auto" id="mytable">
<tr class="thead-dark">
  <th>Salary Components</th>
  <th></th>
</tr>
<tr>
{% for i in payment_data_1 %}
 <th>{{i}}</th>
{% endfor %}
</tr>
{% if payment_data_2 %}
<tr>
{% for i in payment_data_2 %}
 <th>{{i}}</th>
{% endfor %}
</tr>
{% endif %}
</table>

<br>

All entitlements given above are applicable after you have joined ATG. The entitlements are subject to company policies / procedures / guidelines that may be issued / modified from time to time.
This Offer of Appointment is valid for 15 days from the date of this email. You are requested to confirm your acceptance by replying to our e-mail with an acknowledgement<strong> (YES, I, (NAME) accept the offer). </strong><br>
In case you fail to communicate your acceptance in writing within 15 days of the date of this email, the Offer shall stand revoked.
By accepting this Offer of Appointment you are accepting all the Terms and Conditions set forth herein and as attached to this Offer of Appointment in various Annexures (Annexed herewith as Annexures 1A and 1B).
<br>

We welcome you and look forward to your being a part of ATG Family.<br><strong>
<img src="https://i.ibb.co/kJ8DBcR/bassi-signature.png" alt=""><br>
Saurabh Bassi ( Co-Founder / CEO )<br>
ATGWORLD Networks Pvt Ltd (ATG.world)

</strong><br>


<center><h2>ANNEXURE – 1A</h2></center>
<center><h4>Terms and Conditions of Employment </h4></center>
<br>
<strong>1. REPORTING / JOINING </strong><br>
Your Appointment shall be effective from your Date of Joining.<br><br>
<strong>2. PROBATION </strong><br>
You will be on probation for a period of 1 (One) months from the date of your joining. However, your probation period can be extended further at the sole discretion of the Company; if your performance / conduct are found to be unsatisfactory. You will continue to be on probation until confirmed in writing.
<br><br><strong>
3. PLACE OF WORK </strong><br>
For internships and place of work in Work From Home: Your place of work remains same during your internship time frame. <br>
For full-time in-office employees : Your place of work will be as mentioned in the Offer of Appointment. However, your services are transferable to any place within the country or abroad or to any of the ATG’s associate/sister concern or its subsidiary, whether are or as may be established or acquired later on, at the sole discretion of the Company. In case you are transferred to any other location, you will be governed by the terms and conditions of service applicable to the new place of posting / assignment including compensation, leave and holidays, working hours and other related policies. <br><br>
<strong>4. DATA PRIVACY </strong><br>
The Company requires that you shall observe Data Privacy as per Company's regulations/ policy, regarding the processing and protection of any personal information and/or data to which you may have access to in the course of your duties, and shall report any infringement relating to the manner in which personal information or other data is processed to the Company immediately. In the event of any breach of the said undertaking, the Company shall be entitled to take such action against you as per the Company Rules and/or applicable law.<br><br>

<strong>5. NON DISCLOSURE</strong><br>
Unless authorized in writing by the Company, you shall not divulge, communicate or pass on any “confidential” information in any form, related to any aspect of the Company to anyone outside the Company.<br>
You acknowledge that the Company owns trade secrets and confidential and proprietary information that are very important to the success of the Company’s business. In addition, the Company has confidential information and assets belonging to other persons (whether individuals, firms, corporations or other entities) that the Company is obligated to keep confidential.
The expression “Confidential Information” refers to all and / or any of the trade secrets and confidential and proprietary information owned by or in the custody of the Company.
You agree that all Confidential Information is the exclusive property of the Company and you will be responsible and will take steps necessary to protect the Confidential Information. You agree that, during your employment and after your employment ends, whatever the reason of such termination, you will not use, reproduce, or disclose any of the Confidential Information, except in the normal course of your job for the Company, or unless an Authorized officer or the Company gives you written permission in advance. You agree to return any Confidential Information (and all copies) in your possession on cessation of your employment with the Company. <br><br>
<strong>
6. PROFESSIONAL ETHICS </strong><br>
You shall not conduct yourself in any manner amounting to breach of confidence reposed in you or inconsistent with the position of responsibility occupied by you. Please deal with the Company’s money, material and documents with utmost honesty, moral and professional ethics. <br><br>
<strong>
7. RESIGNATION / TERMINATION </strong><br>
You shall give a One Month prior notice to the Company before you can be officially relieved from your work. For Interns whose location is Work For Home, the period is One Week.
<br>

<center>
<h2>
ANNEXURE – 1B </h2></center>

This is a summary of working hours, leave and holidays, retiral benefits as may be applicable from time to time including some of the benefits & entitlements. These are subject to change as per applicable laws and/or at Company’s discretion. In case of any clarification please contact Human Resources at your location.
WORKING HOURS
Being an IT/ ITES Company we operate 24x7, The general shift starts at 0800 hours and ends at 1700 hours Monday through Friday with half an hour lunch break. Depending upon the business requirements and exigencies of work you may be deputed in any shifts including night shift as also to any other office / work / project site in which case your working hours / shift working as may be prevalent at such places shall apply on you... You may be required to sign a consent form at the time of joining the Company.
LEAVE AND HOLIDAYS <br>
As per the Company’s policy you will be entitled to 12 days Casual Leave and 25 days of Privilege/ Earned Leaves. These will be pro-rated in case you join any time during the year. The Company also provides 12 festival / public holidays including national holidays, which are announced in advance every year. The holidays vary depending on the location of your job assignment. There will be no leaves and holidays under probation period.<br><br>
<strong>
PAYMENT MODE</strong><br>
Payment shall be made to your Bank Account through Online transfer. You are required to submit your complete bank details to the hiring HR at the time of joining.
<br>
<center>
  <h2>
  ANNEXURE – 1C </h2></center>
  
  1. Internship can be extended to beyond 6 months. Please discuss with your manager. <br>
  2. Full time offers may be rolled out depending on the management decision (after the internship is over). Please discuss with your manager. <br>
  3. 1 month notice period to be given to your manager before you wish to end the internship. Without a one month notice period, the internship will not be ended even if you have reached the end of 6 months term. It is intern's responsibility to notify the manager at end of the 5th month in case he/she wants to be relieved after 6 months timeframe completion. <br>
  4. Leaves required due to upcoming exams must be informed to your manager atleast 1 week in advance. Leaves taken during the internship will extend the term by similar duration.  <br>
  
<br>


</div>
	<div class="verify text-center text-lg-right text-xl-right">
 <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)">  I {{user}}, Agree to the offer.
<br><br>
  <form action="/nda" method='POST'>
		{% csrf_token %}
		<button type="submit" name="submit" id="submit" value="I Agree dummy"  class="btn border border-dark" target="_blank">I Agree</button>

	</form>


</div>

</div>
</body>
</html>
