{% extends "mainapp/base.html" %}

{% load static %}

{% block title %}
Leaves
{% endblock %}

{% block jscss %}

<!-- <link rel="stylesheet" href="{% static 'calendar.css' %}"> -->

{% endblock jscss %}

{% block content %}



<div id="dept-select-outer">
    <label for="departments">Choose a department:</label>
    <select name="departments" id="departments">
        {% for department in departments %}
            <option value="{{department.id}}" class="dept-select">{{department.name}}</option>
        {% endfor %}
    </select>
</div>
<div id="dept-select-outer">
    <label for="employee">Choose an employee:</label>
    <select name="employee" id="employee">
        <option value="-1" class="emp-select">---------------</option>
    </select>
</div>
<div id="outer" hidden>
    <div id="main" class="container">
        <div class="jumbotron">
            <h1 class="text-center">
                <a href="#" id="left">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <span>&nbsp;</span>
                <span id="month"></span>
                <span>&nbsp;</span>
                <span id="year"></span>
                <span>&nbsp;</span>
                <a href="#" id="right">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </h1>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <table class="table" id="table-id"></table>
            </div>
        </div>
    </div>
</div>
<div>
    <h2>Upcoming Holidays</h2>
    <ul id="holiday-list">
     
    </ul>
</div>

<script>
    function mark() {
      
  
        var emp_sel = document.getElementById('employee');
        
        var user_id = emp_sel.value;
        if (user_id == -1) {
            var cal = document.getElementById('outer');
            cal.hidden = true;
        } else {

            var url = '/employes-leave/?id=' + user_id;  
            var req = new XMLHttpRequest();
            var cal = document.getElementById('outer');
            req.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var details = JSON.parse(req.responseText);
                    //New Field
                    console.log(details)
                    for (let i=0; i < details.length; i++) {
                        var day = document.getElementById(details[i].date)
                        
                        
                        try {
                            if(day.style.backgroundColor!=='green'){
                            day.style.color = 'white';
                            day.style.backgroundColor = 'red';
                            var reason=`${details[i].reason}`;
                            if(reason.length!==0){
                                day.title=reason;
                                
                            }else{
                                day.title='Not Availabel!'
                            }}
                            console.log(day.title);

        

                        } catch (err) {
                            console.log()
                        }
                    }
                    cal.hidden = false;
                }
            };
            req.open("GET", url, true);
            req.send();
        }
    }

    function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;

        return [day, month, year].join('-');
    } 
    function mark_as_leave() {
        console.log(this.id)
        var emp_sel = document.getElementById('employee');
        console.log(emp_sel.value)
        var user_id = emp_sel.value;
        var url = '/add-employes-leave/?id=' + user_id + '&date=' + this.id;
        var req = new XMLHttpRequest();
        var cal = document.getElementById('outer');
        var day = document.getElementById(this.id);
        req.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var details = JSON.parse(req.responseText);
                //New Field
                console.log(details)
                // alert(details)
                if (details == "deleted") {
                    day.style.color = 'red';
                    day.style.backgroundColor = 'white';
                }
                mark()
            }
        };
        req.open("GET", url, true);
        req.send();
    }

    $(document).ready(cal_gen(),national_holidays_leave(true ,false))
        function cal_gen() {
        function formatDate(date) {
        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2) 
            month = '0' + month;
        if (day.length < 2) 
            day = '0' + day;

        return [day, month, year].join('-');
    }
        var currentDate = new Date();
        function generateCalendar(d) {
        $("table").text("");
        function monthDays(month, year) {
            var result = [];
            var days = new Date(year, month, 0).getDate();
            for (var i = 1; i <= days; i++) {
            result.push(i);
            }
            return result;
        }
        Date.prototype.monthDays = function () {
            var d = new Date(this.getFullYear(), this.getMonth() + 1, 0);
            return d.getDate();
        };
        var details = {
            // totalDays: monthDays(d.getMonth(), d.getFullYear()),
            totalDays: d.monthDays(),
            weekDays: [
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday"
            ],
            months: [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December"
            ]
        };
        var start = new Date(d.getFullYear(), d.getMonth()).getDay();
   
        var cal = [];
        var day = 1;
        for (var i = 0; i <= 6; i++) {
            cal.push(["<tr>"]);
            for (var j = 0; j < 7; j++) {
            if (i === 0) {
                cal[i].push("<td>" +details.weekDays[j] + "</td>");
            } else if (day > details.totalDays) {
                cal[i].push("<td>&nbsp;</td>");
            } else {
                if (i === 1 && j < start) {
                cal[i].push("<td>&nbsp;</td>");
                } else {
                    let c_day = day++
                    var f_date = formatDate(new Date(d.getFullYear(), d.getMonth(), c_day))
                    
                cal[i].push('<td class="day" id="'+ f_date +'" title <a href="#" style="color:black">' + c_day + "</a> </td>");
                }
            }
            }
            cal[i].push("</tr>");
        }
        cal = cal
            .reduce(function (a, b) {
            return a.concat(b);
            }, [])
            .join("");
        $("table").append(cal);
        $("#month").text(details.months[d.getMonth()]);
        $("#year").text(d.getFullYear());
        $("td.day")
            .mouseover(function () {
            $(this).addClass("hover");
            })
            .mouseout(function () {
            $(this).removeClass("hover");
            });
            var days_els = document.getElementsByClassName("day")
            for (var i = 0; i < days_els.length; i++) {
                days_els[i].addEventListener('click', mark_as_leave, false);
            }
            national_holidays_leave()
        }
        $("#left").click(function () {
        $("table").text("");
        if (currentDate.getMonth() === 0) {
            currentDate = new Date(currentDate.getFullYear() - 1, 11);
            generateCalendar(currentDate);
        } else {
            currentDate = new Date(
            currentDate.getFullYear(),
            currentDate.getMonth() - 1
            );
            generateCalendar(currentDate);
        }
        mark()
        });
        $("#right").click(function () {
        $("table").html("<tr></tr>");
        if (currentDate.getMonth() === 11) {
            currentDate = new Date(currentDate.getFullYear() + 1, 0);
           
            generateCalendar(currentDate);
        } else {
            currentDate = new Date(
            currentDate.getFullYear(),
            currentDate.getMonth() + 1
            );
           
            generateCalendar(currentDate);
        }
        mark()
        });
        $("")
        
        generateCalendar(currentDate);
         national_holidays_leave(false,true);

    };
    
    function national_holidays_leave(flag1,flag2){
        const BASE_CALENDAR_URL = "https://www.googleapis.com/calendar/v3/calendars";
    const BASE_CALENDAR_ID_FOR_PUBLIC_HOLIDAY = "holiday@group.v.calendar.google.com"; // Calendar Id. This is public but apparently not documented anywhere officialy.
const API_KEY = "AIzaSyDiPXljYT0lKKPMWMuQTLGMZIp2nSk2bwU";
const CALENDAR_REGION = "en.indian";
const url = `${BASE_CALENDAR_URL}/${CALENDAR_REGION}%23${BASE_CALENDAR_ID_FOR_PUBLIC_HOLIDAY}/events?key=${API_KEY}`

fetch(url).then(response => response.json()).then(data => {
const holidays = data.items;

// console.log(holidays[0].start);

// console.log(holidays[0].summary);
const upComing_holidays=getUpComingHolidays(holidays);
const holidayList = document.getElementById("holiday-list");

    // Populate the list with upcoming holidays


    
   if(flag1==true){ upComing_holidays.forEach((holiday) => {
      
      const formattedDate = holiday.start.date;
      const listItem = document.createElement("li");
      listItem.textContent = `${holiday.summary}  on  ${formattedDate}`;
      holidayList.appendChild(listItem);
    });}
 if(flag2){
    for (let i=0; i < holidays.length; i++) {
        let currentDate = new Date();
        let month = currentDate.getMonth()+1;
        let holiday_date= new Date(holidays[i].start.date);
         let holiday_month= holiday_date.getMonth()+1;
        if(month===holiday_month){
        let cal_cell_id=formatDate(holidays[i].start.date);
                        var day = document.getElementById(cal_cell_id)
                        
                        
                        try {
                            day.style.color = 'white';
                            day.style.backgroundColor = 'green';
                            var reason=`${holidays[i].summary}`;
                            if(reason.length!==0){
                                day.title=reason;
                                
                            }else{
                                day.title='Not Availabel!'
                            }
                            console.log(day.title);

        

                        } catch (err) {
                            console.log()
                        }
                    }}
                }
 return holidays;
})
    }
    function getUpComingHolidays(holidays){
        const today= new Date();
         formatDate(today);
        const year = today.getFullYear();
    
    // console.log(holidays[0].start-today);
        const upcomingHolidays = holidays.filter((holiday)=>{
            var holidayDate= new Date(holiday.start.date);
               
            const timeDiff = holidayDate.getTime()-today.getTime();
            let lastdayofYear = `${year}-${12}-${31}`;
            lastdayofYear = new Date(lastdayofYear);
            const timeDiff1= lastdayofYear-holidayDate.getTime();
            
            const daysUntilHoliday= timeDiff/(1000*60*60*24);
            const lastDay= timeDiff1/(1000*60*60*24);
 return daysUntilHoliday>=0 && lastDay>=0;
        });
        return upcomingHolidays;
    } 

    var a = document.getElementById('departments');
    a.addEventListener('click', function() {
        var dep_id = this.value;
        var url = '/dept-employes/?id=' + dep_id;
        var req = new XMLHttpRequest();
        var emp_select = document.getElementById('employee');
        req.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var details = JSON.parse(req.responseText);
                //New Field
                console.log(details)
                emp_select.innerHTML = '';
                for (let i=0; i < details.length; i++) {
                    var opt = document.createElement("option");
                    console.log(details[i])
                    opt.value= details[i].id;
                    opt.innerHTML = details[i].name; // whatever property it has

                    // then append it to the select element
                    emp_select.appendChild(opt);
                }
                

            }
        };
        req.open("GET", url, true);
        req.send();
    }, false);

    var emp_sel = document.getElementById('employee');
    emp_sel.addEventListener('click', function() {
        try {
            console.log('employee clicked')
            cal_gen()
        } catch (err) {
            console.log(err)
        }
        mark()
    }, false);

    

    
    
</script>
{% endblock %}