{% extends "mainapp/base.html" %}

{% load static %}

{% block title %}
Leaves
{% endblock %}

{% block jscss %}

<link rel="stylesheet" href="{% static 'mainapp/css/leaves/list.css' %}">

{% endblock jscss %}

{% block content %}

<div class="row mt-5">
  <div class="col-md-9">
    <div class="leave_list table-responsive">
      <table class="table mb-0 pb-0 first-table">
        <thead>
          <tr role="tablist" class="nav nav-tabs">
            <th class="active" id="active-leaves-tab" data-toggle="tab" href="#active-leaves" role="tab" aria-controls="active-leaves" aria-selected="true">
              Active Leaves <span class="badge badge-secondary">{{ object_list|length }}</span>
            </th>
            <th id="future-leaves-tab" data-toggle="tab" href="#future-leaves" role="tab" aria-controls="future-leaves" aria-selected="false">
              Future Leaves <span class="badge badge-secondary">{{ future_leaves|length }}</span>
            </th>
          </tr>
        </thead>
      </table>
      <table class="table table-striped tab-content">
        <tbody class="tab-pane fade show active" id="active-leaves" role="tabpanel" aria-labelledby="active-leaves-tab">
          {% for object in object_list %}
            <tr>
              <th scope="row">{{ forloop.counter }}.</th>
              <td>{{ object.employee.get_full_name }}</td>
              <td>
                <span>{{ object.date_from|date:"d/m/Y" }}</span><span class="mid-connector">&mdash;</span><span>{{ object.date_to|date:"d/m/Y" }}</span>
              </td>
              <td>
                <span>
                  <span class="days-count">{{ object.days }}</span> &nbsp; Days
                </span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tbody class="tab-pane fade" id="future-leaves" role="tabpanel" aria-labelledby="future-leaves-tab">
          {% for object in future_leaves %}
            <tr>
              <th scope="row">{{ forloop.counter }}.</th>
              <td>{{ object.employee.get_full_name }}</td>
              <td>
                <span>{{ object.date_from|date:"d/m/Y" }}</span><span class="mid-connector">&mdash;</span><span>{{ object.date_to|date:"d/m/Y" }}</span>
              </td>
              <td>
                <span>
                  <span class="days-count">{{ object.days }}</span> &nbsp; Days
                </span>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-2 ml-lg-3">
    <div>
      <a href="{% url 'issue-leave' %}?logged_by=manager" class="btn btn-custom-primary">Issue Leave</a>
    </div>
    <div class="mt-4">
      <a href="{% url 'Leave' %}" class="btn btn-outline-grey">
        My Leaves
      </a>
    </div>
  </div>
</div>

{% endblock %}
