{% extends "mainapp/base.html" %}
{% block title %}
Leaves
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 mt-4">
      <div class="card mb-4">
        <h5 class="card-header">Leave for {{ object.employee.get_full_name }}</h5>
        <div class="card-body">
          <h5 class="card-title">{{ object.reason }}</h5>
          <div class="card-text text-muted">
            <p>{{ object.date_from }} - {{ object.date_to }}</p>
            <p>Total Days: <strong>{{ object.days }}</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
